<li class="col-md-12 service {{serviceClass}}">
  <h2 class="col-md-12 title">{{title}}</h2>                                    
  <div class="col-md-10 description"><strong>Description: </strong>{{description}}</div>
  <div class="col-md-10 population"><strong>Population: </strong>{{population}}</div>
  <div class="col-md-10 criteria"><strong>Criteria: </strong>{{criteria}}</div>
  <div class="col-md-4">
    <div class="col-md-12">
      <i class="fa fa-phone"></i>
      <strong>Contact</strong>
    </div>
    <div class="col-md-12 contact">{{add-links contact}}</div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <i class="fa fa-usd"></i>
      <strong>Cost</strong>
    </div>
    <div class="col-md-12 cost">{{cost}}</div>
  </div>
  <div class="col-md-4"></div>
</li>