<li class="service {{serviceClass}}">
  <h2 class="title">{{title}}</h2>        

  <div class="description"><strong>Description: </strong>{{description}}</div>

  <div class="population"><strong>Population: </strong>{{population}}</div>

  <div class="criteria"><strong>Criteria: </strong>{{criteria}}</div>
    
  <div class="contact">
    <p><i class="fa fa-phone"></i><strong>Contact</strong></p>
    {{add-links contact}}
  </div>

  <div class=" cost">
    <p><i class="fa fa-usd"></i><strong>Cost</strong></p>
    {{cost}}    
  </div>
</li>